[Updater]
githubraw = https://raw.githubusercontent.com/mocchapi/cowsaybot/master/main.py
#URL to github raw, default is https://raw.githubusercontent.com/mocchapi/cowsaybot/master/main.py

localfile = main.py
#name of local file, default is main.py

autoupdate = True
#Enable autoupdate True/False, default is False
